
html {
    font-size: 20px;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

main {
    text-align: center;
}

.button {
    display: inline-block;
    min-width: 10rem;
    margin: 0.2rem 0.5rem;
    padding: 0.2rem 0.5rem;
    border: 0.1rem solid #666;
    border-radius: 0.2rem;
    background-color: white;
    font-size: inherit;
    color: inherit;
    text-decoration: inherit;
}

.button:hover {
    background-color: #eff;
    border-color: #444;
}

.button:active {
    border-color: #888;
}
